nav {
    padding: 0 12rem 0 12rem;
    display: flex;
    height: 6rem;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    flex: 1 0 0;
}

nav .nav-links a {
    padding: 0.5rem;
}

nav .nav-links a:hover {
    font-weight: 700;
    color: var(--primary-green);
    transition: ease-in-out;
}