p,
span {
  font-size: 1rem;
  line-height: 1.3rem;
}

li {
  font-weight: 600;
  margin: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  letter-spacing: -1px;
}

.reservation-info {
  margin: 2rem 12rem 3rem 12rem;
}

.reservation-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reservation-top > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.3rem;
  padding: 1rem 0;
}

.reservation-top > div > h4 {
  font-size: 1.3rem;
}

.reservation-top > p > span {
  font-weight: 600;
  text-decoration: underline;
}

.reservation-top > p span:hover {
  cursor: pointer;
  font-weight: 700;
}

.reservation-center {
  padding: 02rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.reservation-center-A {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.reservation-center-A > p span {
  color: red;
  font-weight: 500;
}

.reservation-center-A > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.reservations-footer > p {
  text-align: center;
  margin: 0.8rem;
  opacity: 0.7;
}

.reservations-btn {
  display: flex;
  align-items: baseline;
  gap: 2rem;
}

.reservations-btn p {
  margin: 0.7rem 0 0 0;
  padding: 0.8rem 1.3rem;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 0.6rem;
  border: 1px solid var(--primary-yellow);
  outline: none;
  outline: none;
}

.reservations-btn p:hover {
  background-color: var(--primary-yellow);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--secondary-green);
}

.reservations-basic-info {
  margin: 3rem 12rem;
}

.reservations-basic-form {
  position: relative;
  border: 1px solid var(--primary-green);
  border-radius: 0.6rem;
  padding: 2rem;
  margin: 2rem 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reservations-basic-form > div {
  width: 48%;
  padding: 1.5rem 0;
}

.reservations-basic-form > div:last-child {
  padding: 0;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  gap: 3rem;
  width: 100%;
}

.reservations-basic-form label {
  color: var(--tertiary-grey);
  font-size: 0.9rem;
  position: absolute;
  background-color: var(--secondary-grey);
  margin: -0.5rem 1.5rem;
  padding: 0 0.8rem;
  letter-spacing: -0.5px;
  font-weight: 700;
}
.reservations-basic-form input,
.reservations-basic-form select {
  width: 100%;
  border: 1px solid var(--primary-green);
  outline: none;
  font-size: 1.1rem;
  height: 4rem;
  padding: 0 2.2rem;
  border-radius: 1rem;
  background-color: transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.reservations-basic-form input:focus,
.reservations-basic- input:active {
  background-color: transparent;
}

.reservations-basic-form p {
  color: red;
  font-size: 0.8rem;
}
